@charset "UTF-8";

/* Layout Small Screens */

header { background:url(../images/banner_small.jpg) no-repeat right 0px;
background-size:500px 85px;/*for hd*/}
header a.logo{
width:105px;	
height:40px;
top:16px;
left:10px;
background-image:url(../images/logo_small.png);
background-size:105px 40px;/*for hd*/
}
article{overflow:scroll;height:100%;
width:40%;
left:120px;float:left;
margin-right:120px;
padding-right:120px;}

li li{list-style:none;
background:url(../images/mobile_link_arrow.png) no-repeat left center;
background-size:17%;background-position:-4px 12px;}


nav{ overflow:hidden;
	display:block;
	padding: 0px;
	 	 
	}
nav a{

display: block;
margin:0px;
padding:9px;
border-bottom:1px solid #cccccc;
/*border-bottom: 1px solid #f5a06e;
background:url(../images/mobile_link_arrow.png) no-repeat left center;*/
}

nav a:hover{}
.promo_container {padding:0px;}
.promo_container .promo {
width:auto;/*ovverrides 33% now they will take full width of parent*/
float:none;
padding:10px 0px 0px 0px;
background-position:20px 13px;
border-top:1px solid #ccc;	
}
.promo_container .promo .content{padding:0px 20px 5px 90px;}

nav {  

	float: left;
	width:  120px;
	margin: 0; padding: 0; 
	background:url(../images/gradient.jpg);
	background-repeat:repeat-x;
	background-color:#336666; 
	/*background-color:#3399cc;*/
}
nav a { color: #D4E6F4; text-decoration: none;
font-size:.8em; }
nav a:hover { color: #FFFFFF; }




footer{border-top:1px solid #a6abc5;}
body {}
#hero {height:100px;background:url(../images/banner_small.jpg) no-repeat right 0px;}
#hero .panel .caption{display:none;}
a.mobile_menu{
display:block;
width:30px;
height:34px;
border-top:2px solid #fff;
border-left: 2px solid #fff;
border-right: 2px solid #fff;
border-top-left-radius:6px;
border-top-right-radius:6px;
/*background:#a6430a url(../images/mobile_link_menu.png) no-repeat 4px 4px;*/
position:absolute;top:64px;left:10px;
cursor:pointer; 	
}

a.mobile_menu.selected{background-position:4px -26px;}
@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx)
{

header {background-image:url(../images/banner_small_2x.jpg);}
header a.logo{background-image:url(../images/logo_small_2x.png);}

